
#content{
    background:rgba(0%,0%,0%,0.6);
    width:720px;
    height: 1200px;
    margin:0px auto;
    text-align:left;
    color:#fff;
}

#section0 {
    padding: 5px;
    text-align: center;
}

.name {
    font-size: 36px;
}

.englishName, .contactintro {
    font-size: 24px;
}

.personalintro {
    font-size: 18px;
    padding: 10px 70px;
}

.slide h2 {
    font-size: 24px;
    clear:both;
    margin:20px 20px 0px 20px;
}

#section2 {
    clear:both;
    margin:10px 20px 20px 20px;
    text-align: center;
}

.intro {
    margin:0px 20px;
}

.intro .box{
    float: left;
    text-align: center;
    font-size: 24px;
    margin:10px 10px 30px 10px;
}

.img-rounded {
    width: 100px;
}

.title a, .title a:link, .title a:visited, .title a:hover, .title a:active{
    color: #fff;
}

.title {
    font-size: 12px;
    text-align: center;
}
.contactintro {
    margin-bottom: 20px;
}